*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: linear-gradient(#1ee9f0, #7597de)
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: rgb(15, 15, 15);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: rgb(12, 12, 12);
    border-radius: 30px;
    font-size: 15px;
}

header ul li a:hover{
    background: #fff;
    color:#2b1055
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, green, yellow) ;
}
section img{
    position: absolute;
    top: 0;
    left: 0;

    object-fit: cover;
    pointer-events: none;
}
/* 동물원 */
section img#mountains{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#lions{
    position: relative;
    top: 30%;
    left: 70%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#elephant{
    position: relative;
    top: 40%;
    left: -60%;
    width: 50%;
    height: 100%;
    object-fit: cover;
}
section img#giraffe{
    position: relative;
    top: 20%;
    left: -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 미술관 */
section img#building_a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#a_1{
    position: relative;
    top: 50%;
    left: 70%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#a_2{
    position: relative;
    top: 60%;
    left: -70%;
    width: 50%;
    height: 100%;
    object-fit: cover;
}
section img#a_3{
    position: relative;
    top: 60%;
    left: -30%;
    width: 50%;
    height: 100%;
    object-fit: cover;
}
/* 자연사박물관 */
section img#building_n{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#n_1{
    position: relative;
    top: 40%;
    left: -10%;
    width: 600px;
    object-fit: cover;
}
section img#n_2{
    position: relative;
    top: 30%;
    left: 30%;
    width: 700px;
    object-fit: cover;
}

/* 역사박물관 */
section img#building{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
section img#h_1{
    position: relative;
    top: 20%;
    left: -35%;
    width: 200px;
}
section img#h_2{
    position: relative;
    top: 50%;
    left: 40%;
    width: 300px;
}



#text{
    position: absolute;
    right: -350px;
    white-space: nowrap;
    font-size: 7.5vw;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
#btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}
.sec{
    position: relative;
    padding: 100px;
}
.sec h2{
    font-size: 3em;
    margin-bottom: 40px;
}

.sec p{
    font-size: 1em;
}
.date{
    font-size: 15px; 
    color: rgb(8, 51, 15);  /* 흰색 */
}
.time{
    font-size: 15px;
    font-weight: bold;
    color: rgb(179, 21, 171);  /*보라색 */
}